<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moaka.mapper.ArchiveMapper">
    <select id="retrieveArchiveFromGroup" resultType="Archive">
        SELECT ar.*, us.name AS creator_name
        FROM archive_group AS ar_gr
                 LEFT JOIN archive AS ar ON ar_gr.archive_no = ar.no
                 LEFT JOIN user AS us ON ar_gr.user_no = us.no
        WHERE ar_gr.user_no = ${user_no}
    </select>
    <select id="retrieveArchiveFromUserNo" resultType="Archive">
        select *
        from archive
        where user_no = ${user_no}
    </select>
    <select id="retrieveArchiveFromArchiveNo" resultType="Archive">
        select *
        from archive
        where no=${archive_no}
    </select>
</mapper>