<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moaka.mapper.AuthMapper">
    <select id="login" resultType="User" parameterType="User">
        SELECT * FROM user
        <choose>
            <when test='auth_type.equals("google")'>
                WHERE auth_type='google' AND sub=#{sub}
            </when>
            <otherwise>
                WHERE auth_type='local' AND id=#{id} AND pwd=#{pwd}
            </otherwise>
        </choose>
    </select>

    <insert id="register" parameterType="User">
        insert into user(sub, id, pwd, age, name, profile, auth_type, regdate)
        values(#{sub}, #{id}, #{pwd}, ${age}, #{name}, #{profile}, #{auth_type}, #{regdate})
        <selectKey keyProperty="no" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

     <select id="retrieveUserById" resultType="User">
        select * from user
        where id=#{id}
     </select>

    <select id="retrieveJwtUserById" resultType="JwtUser">
        select * from user
        where id=#{id}
    </select>

    <select id="retrieveUserListById" resultType="User">
        select * from user where id = #{id}
    </select>

    <select id="retrieveCategoryListByUserNo" resultType="String">
        select category from category where user_no = ${user_no}
    </select>

    <update id="updateUserInfo">
        UPDATE user SET name=#{name}, profile=#{profile} WHERE no=${user_no}
    </update>

    <insert id="insertUserCategory">
        INSERT INTO category(user_no, category) VALUES(${user_no}, #{category})
    </insert>

    <delete id="deleteUserCategory">
        DELETE FROM category where user_no=${user_no}
    </delete>
</mapper>