<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moaka.mapper.AuthMapper">
    <select id="login" resultType="User" parameterType="User">
        SELECT * FROM user
        <choose>
            <when test='auth_type.equals("google")'>
                WHERE auth_type='google' AND sub=#{sub}
            </when>
            <otherwise>
                WHERE auth_type='local' AND id=#{id} AND pwd=#{pwd}
            </otherwise>
        </choose>
    </select>
</mapper>