<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moaka.mapper.CommentMapper">
    <insert id="insertMainCommentOfChunk">
        insert into comment(chunk_no, user_no, content, content_order, layer, regdate)
        values(${chunk_no}, ${user_no}, #{content}, 1, 0, #{regdate})
        <selectKey keyProperty="no" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateGroupNumOfComment">
        update comment
        set group_num=${group_num}
        where no = ${no}
    </update>
    <insert id="insertSubCommentOfChunk">
        insert into comment(chunk_no, user_no, content, content_order, group_num, regdate, layer)
        values (${chunk_no}, ${user_no}, #{content}, ${content_order}, ${group_num}, #{regdate}, 1)
        <selectKey keyProperty="no" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="selectCommentOrderByGroupNum" resultType="int">
        select count(*)
        from comment
        where group_num = ${group_num}
    </select>
    <select id="selectCommentOfChunk" resultType="Comment">
        SELECT co.*, us.name AS name, us.profile AS profile
        FROM comment AS co
                 LEFT JOIN user AS us ON co.user_no = us.no
        WHERE co.chunk_no = ${chunk_no}
        ORDER BY co.group_num DESC, co.layer ASC, co.content_order DESC
    </select>
    <select id="isAuthorityOfDeleteComment" resultType="boolean">
        SELECT EXISTS(select *
                      from comment
                      where user_no = ${user_no})
    </select>
    <delete id="deleteCommentOfChunk">
        DELETE
        FROM comment
        where no = ${no}
    </delete>
</mapper>