<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moaka.mapper.LikeMapper">
    <insert id="insertLikeOfChunk">
        INSERT INTO chunk_like(user_no, chunk_no, regdate)
        VALUES (${user_no}, ${chunk_no}, #{regdate})
        <selectKey keyProperty="no" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="insertLikeOfArchive">
        INSERT INTO archive_like(user_no, archive_no, regdate)
        VALUES (${user_no}, ${archive_no}, #{regdate})
        <selectKey keyProperty="no" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <delete id="deleteLike">
        DELETE
        FROM chunk_like
        WHERE no = ${no}
    </delete>
</mapper>